# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
config.py
ww.py
ee.py
aa.py
eee.py
ww.py
222.py
33.py
44.py
