html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




/* 导航栏样式 */
.navbar{
  height: 50px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.navbar a{
  display: inline-block;
  border:2px solid green;
  padding: 10px 25px;
    color: inherit;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 5px;

}
.navbar a:hover {
  background-color: green;
}

/* Logo 样式 */
.logo img {
  height: 50px;
  width: auto;
}

.container, form { text-align: center;
            justify-content: center;

}

.table-container {
    margin-left: auto;
    margin-right: auto;
    border-radius:5px;
    /* 这会使容器元素水平居中 */
    max-width: 800px;
    /* 设置容器元素的最大宽度，可以根据需要进行调整 */

}



table {    margin-left: auto;
    margin-right: auto;
    /* 这会使容器元素水平居中 */
            border-collapse: collapse;

            width: auto;
            table-layout: fixed;

        }
#active_work_order {position: relative;}
#table1 {position: relative;
        right: 0px;
        top:0px;
        overflow: auto;
        }

th {        color: black;
            background-color: DodgerBlue;
            padding: 12px;
            text-align: center;
            width: 100px
            border:2px solid black;


        }
td {color: black;
            padding: 8px;
            text-align: left;
            border: 1px solid black;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            width: 200px

}
p, h1, h2 {text-align: center;}

.submit {background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px;
  width:auto;
  height:auto;
  text-decoration:none;}

.submit a:hover {
  background-color: green;
}

.footer{
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -180px;

}

.contact {display: block;
}

.about {display: flex;
justify-content: center;
  align-items: center;}

.about li{display: inline-block;
list-style: none;}

.footer a{text-decoration:none;
height:40px;
width:80px;
text-align:center;
color: white;
background-color: gray;
border: 2px solid black;
border-radius:5px;
line-height:40px;
display: block;}

.footer a:hover{background: green;}