<!DOCTYPE html>
<html lang="en">
<head>

    <title>{%block title%} my website {%endblock%} </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
    {%block style%} {%endblock%}
    <meta charset="UTF-8">
    <meta name="description" content="John's first project.">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Xu Zhiyong">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="navbar">
    <div class="logo">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
    </div>
    <div class="nav-links">
        <a href="{{url_for('shopping.order')}}">Sentencing</a>
        <a href="{{url_for('shopping.pay')}}">Verification</a>
        <a href="{{url_for('shopping.invoice')}}">Final Inspection</a>
        <a href="{{url_for('shopping.overwrite_invoice')}}">Overwrite_Record</a>
        <a href="{{url_for('email.send_email')}}">Send_Email</a>
        <a href="{{url_for('auth.login')}}">Login</a>
        <a href="{{url_for('auth.register')}}">Register</a>

    </div>
</div>
<div>
    {%block content%} {%endblock%}
</div>
<div class="footer">
  <div class="contact">
    <p>Phone: 123-456-7890</p>
    <p>Email: info@example.com</p>
  </div>

  <div class="about">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
</body>


</html>