{%extends 'base.html'%}
{%block title%}invoice_csv{%endblock%}


{%block content%}
    {% if factor == 1 %}
        <div class="table-container">
            <h1>Verification</h1>

            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Part</th>
                    <th>Status</th>
                    <th>Verify Time</th>
                    <th>Laser Sanner</th>
                </tr>
                <tr>
                    <td>{{order_id}}</td>
                    <td>{{item1}}</td>
                    <td>{{status1}}</td>
                    <td>{{verify_time1}}</td>
                    <td>{{laser_scanner1}}</td>
                </tr>
    <!--            <tr>-->
    <!--                <td>{{order_id}}</td>-->
    <!--                <td>{{item2}}</td>-->
    <!--                <td>{{price2}}</td>-->
    <!--                <td>{{quantity2}}</td>-->
    <!--                <td>{{sub2}}</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>{{order_id}}</td>-->
    <!--                <td>{{item3}}</td>-->
    <!--                <td>{{price3}}</td>-->
    <!--                <td>{{quantity3}}</td>-->
    <!--                <td>{{sub3}}</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <th >Total</th>-->
    <!--                <td>{{total}}</td>-->
    <!--            </tr>-->
            </table>
            <form action="#" method="post">
            <input class='submit' type="submit" name="final" value="Final Inspection">
            </form>
        </div>
    {% else %}
    <div class="container">
        <div >
            <h1>You have completed the work order successfully !</h1>
        </div>

        <div >
            <a class="submit" href="{{invoice_file}}" download="{{invoice_file}}">
                Download Invoice
            </a>
        </div>
    </div>
    {%endif%}
{%endblock%}
