{% extends 'base.html' %}

{%block title%} Login {%endblock%}
{% block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/register_login.css')}}">

{%endblock%}


{%block content%}
    <div class="table-container">
        <h1>Login</h1>
        <form action="#" method="post">
        <table border="1">
            <tr>
                <th style="color:#e00">Userame</th>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <th style="color:#e00">Password</th>
                <td><input type="text" name="password" value=""></td>
            </tr>
            <tr>
                <th style="color:#e00">Email</th>
                <td><input type="text" name="email" value=""></td>
            </tr>
            <tr>
                <th style="color:#e00">Login</th>
                <td><input type="submit" name="submit" value="Login"></td>
            </tr>
        </table>
        </form>
    </div>
{%endblock%}