{% extends 'base.html' %}

{% block title%} work_order_creation {% endblock %}
{% block style%}

{%endblock%}

{% block content %}
<div style=" display: block;">
<div style="display: flex; justify-content: center;">
        <img src="../static/img/dimension_measurement.png" alt="dimension_measurement" width="800px" height="auto" >
    </div>
<div class="table-container" id="active_work_order">


    <h1>Active Work Order List</h1>
    <table border="1" id="table1">

        <tr>
            <th>ID</th>
            <th>Part ID</th>
            <th>Part</th>
            <th>Status</th>
            <th>Sentencing Time</th>
            <th>Laser Sanner</th>

        </tr>

        {% for order in work_order %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.part_id}}</td>
            <td>{{order.item1}}</td>
            <td>{{order.status1}}</td>
            <td>{{order.sentencing_time1}}</td>
            <td>{{order.laser_scanner1}}</td>
        </tr>
        {% endfor %}

    </table>
</div>
<div class="table-container">
    <h1>Work Order Creation</h1>
    <form action="#" method="post">
        <table border="1">
            <tr>
                <th>Sale No.</th>
                <td><input type="text" name="sale_order_id" value="" placeholder="S/O:" required></td>
                <th>Part NO.</th>
                <td><input type="text" name="part_number_id" value="" placeholder="Part NO." required></td>
            </tr>
            <tr>
                <th>ID NO.</th>
                <td><input type="text" name="part_id" value="" placeholder="ID NO." required></td>
                <th>Part</th>
                <td><input type="text" name="item1" value="" placeholder="part name"></td>
            </tr>
            <tr>
                <th>Laser Scanner</th>
                <td>
                    <select name="scanner1" required="required">
                        <option value="">Laser Scanner List</option>
                        {% for scanner1 in laser_scanner_list %}
                        <option value="{{ scanner1 }}"> {{ scanner1 }}</option>
                        {% endfor %}
                    </select>
                <th>Prepared by</th>
                <td>
                    <select name="prepared_by" required="required">
                        <option value="">Prepared by List</option>
                        {% for prep in prepared_by_list %}
                        <option value="{{ prep }}"> {{ prep }}</option>
                        {% endfor %}
                    </select>

            </tr>
            <tr>
                <th>Approved by</th>
                <td>
                    <select name="approved_by" required="required">
                        <option value="">Approved by List</option>
                        {% for appr in approved_by_list %}
                        <option value="{{ appr }}"> {{ appr }}</option>
                        {% endfor %}
                    </select>
            </tr>

        </table>
        <input class='submit' type="submit" name="submit" value="Submit">
    </form>
</div>
</div>

{% endblock %}