{% extends 'base.html' %}

{%block title%} Overwrite_invoice {%endblock%}
{% block style%}


{%endblock%}


{%block content%}
<div class="table-container">

    <h1>overwrite_invoice</h1>
    <form action="#" method="post">
        <table border="1">
            <tr>
                <th>order_id</th>
                <td>
                    <select name="order_id" required="required">
                        <option value="">order id list</option>
                        {% for file_id in file_id_list %}
                        <option value="{{ file_id }}"> {{ file_id }}</option>
                        {% endfor %}
                    </select>
                </td>

            </tr>
            <tr>
                <th>new scanner</th>
                <td>
                    <select name="new_scanner" required>
                        <option value="">item list</option>
                        <!--                        <option disabled selected>item list</option>-->
                        会导致页面无法自动提供表单验证，即提示至少要选择一个选项
                        {% for scanner in laser_scanner_list %}
                        <option value="{{ scanner }}"> {{ scanner }}</option>
                        {% endfor %}

                    </select>
                </td>
            </tr>
<!--            <tr>-->
<!--                <th>new_quantity</th>-->
<!--                <td><input type="text" name="new_quantity" value="2" placeholder="key in a number, e.g. 2"-->
<!--                           title="key in a number, e.g. 2"-->
<!--                           pattern="[0-9]{1,4}" required></td>-->
<!--            </tr>-->


        </table>
        <input class='submit' type="submit" name="submit" value="Submit">
    </form>
</div>
<h1 style="color:red;">{{error_message}}</h1>
{%endblock%}