{% extends 'base.html'%}


{% block title%} Verification {% endblock %}
{% block style%}

{%endblock%}

{% block content %}
    <div class="table-container">
        <h1>Verification</h1>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>Part ID</th>
                <th>Part</th>
                <th>Status</th>
                <th>Sentencing Time</th>
                <th>Laser Sanner</th>
            </tr>
            <tr>
                <td>{{order_id}}</td>
                <td>{{part_id}}</td>
                <td>{{item1}}</td>
                <td>{{status1}}</td>
                <td>{{sentencing_time1}}</td>
                <td>{{laser_scanner1}}</td>
            </tr>

        </table>
        <form action="#" method="post">
        <input class='submit' type="submit" name="verify" value="Verify">
        </form>
    </div>
{%endblock%}