{% extends 'base.html' %}

{%block title%} register {%endblock%}
{% block style%}


{%endblock%}


{%block content%}
    <div class="table-container">
        <h1>Submit your information</h1>
        <form action="#" method="post">
        <table border="1">
            <tr>
                <th >Userame</th>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <th >Password</th>
                <td><input type="text" name="password" value=""></td>
            </tr>
            <tr>
                <th >Email</th>
                <td><input type="text" name="email" value=""></td>
            </tr>
            <tr>
                <th >Register</th>
                <td><input type="submit" name="submit" value="Register"></td>
            </tr>
        </table>
        </form>
    </div>
{%endblock%}


