{% extends 'base.html' %}

{% block title%} Send Email {% endblock %}
{% block style%}
<style>
    div {text-align:center;}
    label {text-align:right; clear:both; }
</style>
{%endblock%}

{% block content %}
<div>
    <h1>Send Email</h1>
    <form method="POST" action="/email/send_email" enctype="multipart/form-data">
        <table>
            <tr>
                <th><label for="sender">Sender：</label></th>
                <td><input type="email" id="sender" name="sender" required></td>
            </tr>
            <tr>
                <th><label for="receiver">Receiver：</label></th>
                <td><input type="email" id="receiver" name="receiver" required></td>
            </tr>
            <tr>
                <th><label for="subject">Topic：</label></th>
                <td><input type="text" id="subject" name="subject" required></td>
            </tr>
            <tr>
                <th><label for="message">Message：</label></th>
                <td><textarea id="message" name="message" rows="5" required></textarea></td>
            </tr>
            <tr>
                <th><label for="attachment">Attachment：</label></th>
                <td><input type="file" id="attachment" name="attachment"></td>
            </tr>
        </table>
        <input class='submit' type="submit" value="Send">
    </form>
</div>
{%endblock%}







